In [1]:
#importing all packages  
import pandas
import numpy
import seaborn
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,accuracy_score
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.metrics import classification_report,confusion_matrix
from sklearn .ensemble import RandomForestClassifier

In [2]:
#to neglect the warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
#reading the data
bank_data= pandas.read_csv('C:/Users/Dell/Downloads/bank_data_3.csv')

In [4]:
bank_data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,branchwise,performance,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
20,30,unemployed,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
21,55,blue-collar,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
22,55,retired,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
23,41,technician,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
24,37,admin.,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
25,35,technician,married,university.degree,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
26,59,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
27,39,self-employed,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
28,54,technician,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
29,55,unknown,married,university.degree,unknown,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,35,technician,divorced,basic.4y,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4963.6,yes
41159,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,tue,...,1,9,4,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41160,33,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4963.6,yes
41161,33,admin.,married,university.degree,no,yes,no,cellular,nov,tue,...,1,999,1,failure,-1.1,94.767,-50.8,1.035,4963.6,no
41162,60,blue-collar,married,basic.4y,no,yes,no,cellular,nov,tue,...,2,4,1,success,-1.1,94.767,-50.8,1.035,4963.6,no
41163,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,tue,...,3,4,2,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41164,54,admin.,married,professional.course,no,no,no,cellular,nov,tue,...,2,10,1,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41165,38,housemaid,divorced,university.degree,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,yes
41166,32,admin.,married,university.degree,no,no,no,telephone,nov,wed,...,1,999,1,failure,-1.1,94.767,-50.8,1.030,4963.6,yes
41167,32,admin.,married,university.degree,no,yes,no,cellular,nov,wed,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41168,38,entrepreneur,married,university.degree,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41169,62,services,married,high.school,no,yes,no,cellular,nov,wed,...,5,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41170,40,management,divorced,university.degree,no,yes,no,cellular,nov,wed,...,2,999,4,failure,-1.1,94.767,-50.8,1.030,4963.6,no
41171,33,student,married,professional.course,no,yes,no,telephone,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,yes
41172,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,yes
41173,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,yes
41174,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,1,6,success,-1.1,94.767,-50.8,1.031,4963.6,yes
41175,34,student,single,unknown,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,no
41176,38,housemaid,divorced,high.school,no,yes,yes,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,no
41177,57,retired,married,professional.course,no,yes,no,cellular,nov,thu,...,6,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,no
41178,62,retired,married,university.degree,no,no,no,cellular,nov,thu,...,2,6,3,success,-1.1,94.767,-50.8,1.031,4963.6,yes
41179,64,retired,divorced,professional.course,no,yes,no,cellular,nov,fri,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41180,36,admin.,married,university.degree,no,no,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41181,37,admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41182,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1,9,1,success,-1.1,94.767,-50.8,1.028,4963.6,no
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [5]:
#usefull data
bank_data=bank_data[['age','job','education','housing','loan','month','day_of_week','duration','pdays','branchwise','cons.conf.idx','y']]

In [6]:
bank_data

,age,job,education,housing,loan,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
0,56,housemaid,basic.4y,no,no,may,mon,261,999,nonexistent,-36.4,no
1,57,services,high.school,no,no,may,mon,149,999,nonexistent,-36.4,no
2,37,services,high.school,yes,no,may,mon,226,999,nonexistent,-36.4,no
3,40,admin.,basic.6y,no,no,may,mon,151,999,nonexistent,-36.4,no
4,56,services,high.school,no,yes,may,mon,307,999,nonexistent,-36.4,no
5,45,services,basic.9y,no,no,may,mon,198,999,nonexistent,-36.4,no
6,59,admin.,professional.course,no,no,may,mon,139,999,nonexistent,-36.4,no
7,41,blue-collar,unknown,no,no,may,mon,217,999,nonexistent,-36.4,no
8,24,technician,professional.course,yes,no,may,mon,380,999,nonexistent,-36.4,no
9,25,services,high.school,yes,no,may,mon,50,999,nonexistent,-36.4,no
10,41,blue-collar,unknown,no,no,may,mon,55,999,nonexistent,-36.4,no
11,25,services,high.school,yes,no,may,mon,222,999,nonexistent,-36.4,no
12,29,blue-collar,high.school,no,yes,may,mon,137,999,nonexistent,-36.4,no
13,57,housemaid,basic.4y,yes,no,may,mon,293,999,nonexistent,-36.4,no
14,35,blue-collar,basic.6y,yes,no,may,mon,146,999,nonexistent,-36.4,no
15,54,retired,basic.9y,yes,yes,may,mon,174,999,nonexistent,-36.4,no
16,35,blue-collar,basic.6y,yes,no,may,mon,312,999,nonexistent,-36.4,no
17,46,blue-collar,basic.6y,yes,yes,may,mon,440,999,nonexistent,-36.4,no
18,50,blue-collar,basic.9y,yes,yes,may,mon,353,999,nonexistent,-36.4,no
19,39,management,basic.9y,no,no,may,mon,195,999,nonexistent,-36.4,no
20,30,unemployed,high.school,no,no,may,mon,38,999,nonexistent,-36.4,no
21,55,blue-collar,basic.4y,yes,no,may,mon,262,999,nonexistent,-36.4,no
22,55,retired,high.school,yes,no,may,mon,342,999,nonexistent,-36.4,no
23,41,technician,high.school,yes,no,may,mon,181,999,nonexistent,-36.4,no
24,37,admin.,high.school,yes,no,may,mon,172,999,nonexistent,-36.4,no
25,35,technician,university.degree,no,yes,may,mon,99,999,nonexistent,-36.4,no
26,59,technician,unknown,yes,no,may,mon,93,999,nonexistent,-36.4,no
27,39,self-employed,basic.9y,no,no,may,mon,233,999,nonexistent,-36.4,no
28,54,technician,university.degree,no,no,may,mon,255,999,nonexistent,-36.4,no
29,55,unknown,university.degree,unknown,unknown,may,mon,362,999,nonexistent,-36.4,no
...,...,...,...,...,...,...,...,...,...,...,...,...
41158,35,technician,basic.4y,no,no,nov,tue,363,999,nonexistent,-50.8,yes
41159,35,technician,basic.4y,yes,no,nov,tue,514,9,success,-50.8,yes
41160,33,admin.,university.degree,no,no,nov,tue,843,999,nonexistent,-50.8,yes
41161,33,admin.,university.degree,yes,no,nov,tue,510,999,failure,-50.8,no
41162,60,blue-collar,basic.4y,yes,no,nov,tue,347,4,success,-50.8,no
41163,35,technician,basic.4y,yes,no,nov,tue,385,4,success,-50.8,yes
41164,54,admin.,professional.course,no,no,nov,tue,1868,10,success,-50.8,yes
41165,38,housemaid,university.degree,no,no,nov,wed,403,999,nonexistent,-50.8,yes
41166,32,admin.,university.degree,no,no,nov,wed,651,999,failure,-50.8,yes
41167,32,admin.,university.degree,yes,no,nov,wed,236,999,nonexistent,-50.8,no
41168,38,entrepreneur,university.degree,no,no,nov,wed,144,999,nonexistent,-50.8,no
41169,62,services,high.school,yes,no,nov,wed,154,999,nonexistent,-50.8,no
41170,40,management,university.degree,yes,no,nov,wed,293,999,failure,-50.8,no
41171,33,student,professional.course,yes,no,nov,thu,112,999,nonexistent,-50.8,yes
41172,31,admin.,university.degree,yes,no,nov,thu,353,999,nonexistent,-50.8,yes
41173,62,retired,university.degree,yes,no,nov,thu,329,999,failure,-50.8,yes
41174,62,retired,university.degree,yes,no,nov,thu,208,1,success,-50.8,yes
41175,34,student,unknown,yes,no,nov,thu,180,999,failure,-50.8,no
41176,38,housemaid,high.school,yes,yes,nov,thu,360,999,nonexistent,-50.8,no
41177,57,retired,professional.course,yes,no,nov,thu,124,999,nonexistent,-50.8,no
41178,62,retired,university.degree,no,no,nov,thu,483,6,success,-50.8,yes
41179,64,retired,professional.course,yes,no,nov,fri,151,999,nonexistent,-50.8,no
41180,36,admin.,university.degree,no,no,nov,fri,254,999,nonexistent,-50.8,no
41181,37,admin.,university.degree,yes,no,nov,fri,281,999,nonexistent,-50.8,yes
41182,29,unemployed,basic.4y,yes,no,nov,fri,112,9,success,-50.8,no
41183,73,retired,professional.course,yes,no,nov,fri,334,999,nonexistent,-50.8,yes
41184,46,blue-collar,professional.course,no,no,nov,fri,383,999,nonexistent,-50.8,no
41185,56,retired,university.degree,yes,no,nov,fri,189,999,nonexistent,-50.8,no
41186,44,technician,professional.course,no,no,nov,fri,442,999,nonexistent,-50.8,yes
41187,74,retired,professional.course,yes,no,nov,fri,239,999,failure,-50.8,no

In [7]:
#seperaing dependent and independent variables
bank_data_x=bank_data[['age','job','education','housing','month','day_of_week','duration','pdays','branchwise','cons.conf.idx','y']]
bank_data_y=bank_data[['loan']]

In [8]:
#splitting the data
x_train,x_test,y_train,y_test=train_test_split(bank_data_x,bank_data_y,test_size=0.20)

In [9]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,57,blue-collar,basic.9y,yes,jun,wed,367,999,nonexistent,-41.8,no
24954,49,blue-collar,basic.4y,no,nov,tue,34,999,failure,-42.0,no
39477,85,housemaid,basic.4y,no,apr,tue,166,999,nonexistent,-34.6,no
12427,26,admin.,university.degree,yes,jul,mon,118,999,nonexistent,-42.7,no
14931,44,admin.,university.degree,no,jul,wed,191,999,nonexistent,-42.7,no

In [10]:
#converting catogorical to numerical
age_scaler=StandardScaler()
age_scaler.fit(pandas.DataFrame(x_train['age']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [11]:
#transforming the data
x_train[['age']]=age_scaler.transform(x_train[['age']])

In [12]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,blue-collar,basic.9y,yes,jun,wed,367,999,nonexistent,-41.8,no
24954,0.860477,blue-collar,basic.4y,no,nov,tue,34,999,failure,-42.0,no
39477,4.318032,housemaid,basic.4y,no,apr,tue,166,999,nonexistent,-34.6,no
12427,-1.348516,admin.,university.degree,yes,jul,mon,118,999,nonexistent,-42.7,no
14931,0.380261,admin.,university.degree,no,jul,wed,191,999,nonexistent,-42.7,no

In [13]:
#converting catogorical to numerical
duration_scaler=StandardScaler()
duration_scaler.fit(pandas.DataFrame(x_train['duration']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
x_train[['duration']]=duration_scaler.transform(x_train[['duration']])

In [15]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,blue-collar,basic.9y,yes,jun,wed,0.412619,999,nonexistent,-41.8,no
24954,0.860477,blue-collar,basic.4y,no,nov,tue,-0.863631,999,failure,-42.0,no
39477,4.318032,housemaid,basic.4y,no,apr,tue,-0.357730,999,nonexistent,-34.6,no
12427,-1.348516,admin.,university.degree,yes,jul,mon,-0.541694,999,nonexistent,-42.7,no
14931,0.380261,admin.,university.degree,no,jul,wed,-0.261916,999,nonexistent,-42.7,no

In [16]:
pdays_scaler=StandardScaler()
pdays_scaler.fit(pandas.DataFrame(x_train['pdays']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
x_train[['pdays']]=pdays_scaler.transform(x_train[['pdays']])

In [18]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,blue-collar,basic.9y,yes,jun,wed,0.412619,0.194661,nonexistent,-41.8,no
24954,0.860477,blue-collar,basic.4y,no,nov,tue,-0.863631,0.194661,failure,-42.0,no
39477,4.318032,housemaid,basic.4y,no,apr,tue,-0.357730,0.194661,nonexistent,-34.6,no
12427,-1.348516,admin.,university.degree,yes,jul,mon,-0.541694,0.194661,nonexistent,-42.7,no
14931,0.380261,admin.,university.degree,no,jul,wed,-0.261916,0.194661,nonexistent,-42.7,no

In [19]:
#coverting numerical to binary language
cons_conf_idx_scaler=StandardScaler()
cons_conf_idx_scaler.fit(pandas.DataFrame(x_train['cons.conf.idx']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [20]:
x_train[['cons.conf.idx']]=cons_conf_idx_scaler.transform(x_train[['cons.conf.idx']])

In [21]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,blue-collar,basic.9y,yes,jun,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,blue-collar,basic.4y,no,nov,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,housemaid,basic.4y,no,apr,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,admin.,university.degree,yes,jul,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,admin.,university.degree,no,jul,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [22]:

job_encoder=preprocessing.LabelEncoder()
job_encoder.fit(pandas.DataFrame(x_train['job']))

LabelEncoder()

In [23]:
x_train[['job']]=job_encoder.transform(x_train[['job']])

In [24]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,1,basic.9y,yes,jun,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,1,basic.4y,no,nov,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,3,basic.4y,no,apr,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,0,university.degree,yes,jul,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,0,university.degree,no,jul,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [25]:
job_scaler=StandardScaler()
job_scaler.fit(pandas.DataFrame(x_train['job']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [26]:
x_train[['job']]=job_scaler.transform(x_train[['job']])

In [27]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,basic.9y,yes,jun,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,basic.4y,no,nov,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,basic.4y,no,apr,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,university.degree,yes,jul,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,university.degree,no,jul,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [28]:
education_encoder=preprocessing.LabelEncoder()
education_encoder.fit(pandas.DataFrame(x_train['education']))

LabelEncoder()

In [29]:
x_train[['education']]=education_encoder.transform(x_train[['education']])

In [30]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,2,yes,jun,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,0,no,nov,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,0,no,apr,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,6,yes,jul,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,6,no,jul,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [31]:
education_scaler=StandardScaler()
education_scaler.fit(pandas.DataFrame(x_train['education']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [32]:
x_train[['education']]=education_scaler.transform(x_train[['education']])

In [33]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,yes,jun,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,-1.750565,no,nov,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,-1.750565,no,apr,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,1.055915,yes,jul,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,1.055915,no,jul,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [34]:
housing_encoder=preprocessing.LabelEncoder()
housing_encoder.fit(pandas.DataFrame(x_train['housing']))

LabelEncoder()

In [35]:
x_train[['housing']]=housing_encoder.transform(x_train[['housing']])

In [36]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,2,jun,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,-1.750565,0,nov,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,-1.750565,0,apr,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,1.055915,2,jul,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,1.055915,0,jul,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [37]:
housing_scaler=StandardScaler()
housing_scaler.fit(pandas.DataFrame(x_train['housing']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [38]:
x_train[['housing']]=housing_scaler.transform(x_train[['housing']])

In [39]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,jun,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,-1.750565,-1.089425,nov,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,-1.750565,-1.089425,apr,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,1.055915,0.940119,jul,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,1.055915,-1.089425,jul,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [40]:
month_encoder=preprocessing.LabelEncoder()
month_encoder.fit(pandas.DataFrame(x_train['month']))

LabelEncoder()

In [41]:
x_train[['month']]=month_encoder.transform(x_train[['month']])

In [42]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,4,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,-1.750565,-1.089425,7,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,-1.750565,-1.089425,0,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,1.055915,0.940119,3,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,1.055915,-1.089425,3,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [43]:
month_scaler=StandardScaler()
month_scaler.fit(pandas.DataFrame(x_train['month']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [44]:
x_train[['month']]=month_scaler.transform(x_train[['month']])

In [45]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,-0.098683,wed,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,-1.750565,-1.089425,1.195407,tue,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,-1.750565,-1.089425,-1.824138,tue,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,1.055915,0.940119,-0.530047,mon,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,1.055915,-1.089425,-0.530047,wed,-0.261916,0.194661,nonexistent,-0.477439,no

In [46]:
day_encoder=preprocessing.LabelEncoder()
day_encoder.fit(pandas.DataFrame(x_train['day_of_week']))

LabelEncoder()

In [47]:
x_train[['day_of_week']]=day_encoder.transform(x_train[['day_of_week']])

In [48]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,-0.098683,4,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,-1.750565,-1.089425,1.195407,3,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,-1.750565,-1.089425,-1.824138,3,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,1.055915,0.940119,-0.530047,1,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,1.055915,-1.089425,-0.530047,4,-0.261916,0.194661,nonexistent,-0.477439,no

In [49]:
day_scaler=StandardScaler()
day_scaler.fit(pandas.DataFrame(x_train['day_of_week']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [50]:
x_train[['day_of_week']]=day_scaler.transform(x_train[['day_of_week']])

In [51]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,-0.098683,1.429890,0.412619,0.194661,nonexistent,-0.283170,no
24954,0.860477,-0.754524,-1.750565,-1.089425,1.195407,0.713608,-0.863631,0.194661,failure,-0.326341,no
39477,4.318032,-0.197733,-1.750565,-1.089425,-1.824138,0.713608,-0.357730,0.194661,nonexistent,1.270978,no
12427,-1.348516,-1.032919,1.055915,0.940119,-0.530047,-0.718956,-0.541694,0.194661,nonexistent,-0.477439,no
14931,0.380261,-1.032919,1.055915,-1.089425,-0.530047,1.429890,-0.261916,0.194661,nonexistent,-0.477439,no

In [52]:
branchwise_encoder=preprocessing.LabelEncoder()
branchwise_encoder.fit(pandas.DataFrame(x_train['branchwise']))

LabelEncoder()

In [53]:
x_train[['branchwise']]=branchwise_encoder.transform(x_train[['branchwise']])

In [54]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,-0.098683,1.429890,0.412619,0.194661,1,-0.283170,no
24954,0.860477,-0.754524,-1.750565,-1.089425,1.195407,0.713608,-0.863631,0.194661,0,-0.326341,no
39477,4.318032,-0.197733,-1.750565,-1.089425,-1.824138,0.713608,-0.357730,0.194661,1,1.270978,no
12427,-1.348516,-1.032919,1.055915,0.940119,-0.530047,-0.718956,-0.541694,0.194661,1,-0.477439,no
14931,0.380261,-1.032919,1.055915,-1.089425,-0.530047,1.429890,-0.261916,0.194661,1,-0.477439,no

In [55]:
branchwise_scaler=StandardScaler()
branchwise_scaler.fit(pandas.DataFrame(x_train['branchwise']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [56]:
x_train[['branchwise']]=day_scaler.transform(x_train[['branchwise']])

In [57]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,-0.098683,1.429890,0.412619,0.194661,-0.718956,-0.283170,no
24954,0.860477,-0.754524,-1.750565,-1.089425,1.195407,0.713608,-0.863631,0.194661,-1.435238,-0.326341,no
39477,4.318032,-0.197733,-1.750565,-1.089425,-1.824138,0.713608,-0.357730,0.194661,-0.718956,1.270978,no
12427,-1.348516,-1.032919,1.055915,0.940119,-0.530047,-0.718956,-0.541694,0.194661,-0.718956,-0.477439,no
14931,0.380261,-1.032919,1.055915,-1.089425,-0.530047,1.429890,-0.261916,0.194661,-0.718956,-0.477439,no

In [58]:
x_train['y']=x_train['y'].map({'no':0,'yes':1})

In [59]:
x_train.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,-0.098683,1.429890,0.412619,0.194661,-0.718956,-0.283170,0
24954,0.860477,-0.754524,-1.750565,-1.089425,1.195407,0.713608,-0.863631,0.194661,-1.435238,-0.326341,0
39477,4.318032,-0.197733,-1.750565,-1.089425,-1.824138,0.713608,-0.357730,0.194661,-0.718956,1.270978,0
12427,-1.348516,-1.032919,1.055915,0.940119,-0.530047,-0.718956,-0.541694,0.194661,-0.718956,-0.477439,0
14931,0.380261,-1.032919,1.055915,-1.089425,-0.530047,1.429890,-0.261916,0.194661,-0.718956,-0.477439,0

In [60]:
x_train

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
8591,1.628822,-0.754524,-0.815072,0.940119,-0.098683,1.429890,0.412619,0.194661,-0.718956,-0.283170,0
24954,0.860477,-0.754524,-1.750565,-1.089425,1.195407,0.713608,-0.863631,0.194661,-1.435238,-0.326341,0
39477,4.318032,-0.197733,-1.750565,-1.089425,-1.824138,0.713608,-0.357730,0.194661,-0.718956,1.270978,0
12427,-1.348516,-1.032919,1.055915,0.940119,-0.530047,-0.718956,-0.541694,0.194661,-0.718956,-0.477439,0
14931,0.380261,-1.032919,1.055915,-1.089425,-0.530047,1.429890,-0.261916,0.194661,-0.718956,-0.477439,0
18224,-0.388084,0.637454,1.055915,-1.089425,-0.530047,1.429890,1.075656,0.194661,-0.718956,-0.477439,1
19784,-0.964344,-1.032919,1.055915,-1.089425,-1.392774,-1.435238,-0.763984,0.194661,-0.718956,0.947197,0
24851,-0.292041,0.080663,-0.347325,0.940119,1.195407,0.713608,3.865775,0.194661,-0.718956,-0.326341,0
25024,0.092132,0.637454,1.055915,-1.089425,1.195407,0.713608,0.343632,0.194661,-0.718956,-0.326341,0
4961,-0.772257,-0.754524,-1.282819,-1.089425,0.764044,1.429890,-0.855966,0.194661,-0.718956,0.882441,0
2274,-0.964344,-1.032919,-0.347325,-1.089425,0.764044,0.713608,-0.449712,0.194661,-0.718956,0.882441,0
24274,0.956520,-1.032919,1.055915,-1.089425,1.195407,-0.718956,-0.771649,0.194661,-0.718956,-0.326341,0
108,0.188175,-0.476128,1.523662,0.940119,0.764044,-0.718956,0.129008,0.194661,-0.718956,0.882441,0
10731,-0.195998,-1.032919,1.055915,-1.089425,-0.098683,0.713608,0.197994,0.194661,-0.718956,-0.283170,0
18756,0.860477,0.080663,-0.815072,-1.089425,-0.530047,-0.002674,-0.963278,0.194661,-0.718956,-0.477439,0
31768,-0.580171,-1.032919,-0.347325,-1.089425,0.764044,-0.002674,-0.403721,0.194661,-0.718956,-1.232927,0
15967,-0.772257,-0.754524,-1.750565,0.940119,-0.530047,-0.718956,0.611913,0.194661,-0.718956,-0.477439,0
26104,-0.099955,-0.754524,-1.282819,0.940119,1.195407,1.429890,-0.173766,-5.137080,-0.002674,-0.326341,0
35859,0.860477,-1.032919,1.055915,0.940119,0.764044,-1.435238,-0.350065,0.194661,-0.718956,-1.232927,0
24778,0.956520,1.472641,0.588169,0.940119,1.195407,0.713608,6.586909,0.194661,-0.718956,-0.326341,1
18737,-0.099955,-1.032919,1.055915,0.940119,-0.530047,-0.002674,-0.606848,0.194661,-0.718956,-0.477439,0
632,-0.195998,0.915850,-1.282819,-1.089425,0.764044,0.713608,1.044995,0.194661,-0.718956,0.882441,0
7388,-1.348516,-1.032919,-0.347325,-1.089425,0.764044,-1.435238,-0.534029,0.194661,-0.718956,0.882441,0
35045,-0.099955,-1.032919,1.055915,-1.089425,0.764044,-1.435238,0.048524,0.194661,-0.718956,-1.232927,0
35214,-1.540603,0.915850,-0.347325,0.940119,0.764044,-1.435238,2.884634,0.194661,-0.718956,-1.232927,1
13878,0.092132,0.915850,0.588169,0.940119,-0.530047,-1.435238,-0.185264,0.194661,-0.718956,-0.477439,0
16221,-1.252473,-1.032919,1.055915,0.940119,-0.530047,0.713608,-0.698830,0.194661,-0.718956,-0.477439,0
10669,-1.444559,1.751036,-0.347325,0.940119,-0.098683,0.713608,0.125175,0.194661,-0.718956,-0.283170,0
25388,-0.099955,1.751036,-0.815072,-1.089425,1.195407,0.713608,-0.422884,0.194661,-1.435238,-0.326341,0
27567,1.244650,0.359058,-0.347325,0.940119,1.195407,-1.435238,1.731027,0.194661,-0.718956,-0.326341,0
...,...,...,...,...,...,...,...,...,...,...,...
34800,-1.924775,-0.754524,-0.347325,0.940119,0.764044,-0.002674,2.486046,0.194661,-0.718956,-1.232927,0
9411,0.188175,0.915850,-0.347325,-1.089425,-0.098683,-1.435238,-0.200594,0.194661,-0.718956,-0.283170,0
34695,-1.348516,1.472641,0.588169,0.940119,0.764044,-0.002674,-0.120110,0.194661,-0.718956,-1.232927,0
28907,0.092132,0.080663,1.055915,0.940119,-1.824138,-1.435238,-0.039626,0.194661,-0.718956,-1.427196,0
16831,1.148607,0.359058,-0.815072,-1.089425,-0.530047,-0.002674,-0.077952,0.194661,-0.718956,-0.477439,0
17844,-0.580171,-1.032919,1.055915,-1.089425,-0.530047,0.713608,0.090682,0.194661,-0.718956,-0.477439,0
11684,0.188175,-0.197733,-1.750565,0.940119,-0.098683,-1.435238,0.569755,0.194661,-0.718956,-0.283170,0
2002,1.820909,0.080663,1.055915,-1.089425,0.764044,-0.718956,0.769049,0.194661,-0.718956,0.882441,1
20163,-0.580171,1.472641,0.588169,-1.089425,-1.392774,-0.718956,-0.511033,0.194661,-0.718956,0.947197,0
23048,0.380261,-1.032919,1.055915,-1.089425,-1.392774,0.713608,-0.603015,0.194661,-0.718956,0.947197,0
31189,0.284218,0.080663,1.055915,-1.089425,0.764044,1.429890,-0.127775,0.194661,-0.718956,-1.232927,0
14870,-1.828732,-1.032919,-0.347325,0.940119,-0.530047,1.429890,1.612217,0.194661,-0.718956,-0.477439,0
27177,1.628822,-0.197733,-1.750565,0.940119,1.195407,-1.435238,-0.591518,0.194661,-0.718956,-0.326341,0
14172,-1.156430,-1.032919,1.055915,-1.089425,-0.530047,-0.718956,-0.277246,0.194661,-0.718956,-0.477439,0
11878,-1.156430,-0.754524,1.523662,-1.089425,-0.098683,-1.435238,-0.917287,0.194661,-0.718956,-0.283170,0
17512,1.532779,-1.032919,-1.282819,-1.089425,-0.530047,-0.718956,-0.725658,0.194661,-0.718956,-0.477439,0
19850,0.956520,0.915850,-1.750565,-1.089425,-1.392774,-1.435238,-0.629843,0.194661,-0.718956,0.947197,0
6572,-0.868300,-0.754524,-0.347325,-1.089425,0.764044,1.429890,-0.039626,0.194661,-0.718956,0.882441,0
10844,-0.484128,-1.032919,-0.815072,0.940119,-0.098683,1.429890,-0.901957,0.194661,-0.718956,-0.283170,0
31490,-0.292041,-1.032919,1.055915,-1.089425,0.764044,1.429890,-0.104780,0.194661,-1.435238,-1.232927,0
24311,1.436736,0.080663,-1.750565,-1.089425,1.195407,-0.718956,0.270813,0.194661,-0.718956,-0.326341,0
31346,-1.252473,-1.032919,-0.347325,0.940119,0.764044,1.429890,0.228655,0.194661,-0.718956,-1.232927,0
1474,-0.484128,-0.754524,-0.815072,0.940119,0.764044,-0.002674,-0.261916,0.194661,-0.718956,0.882441,0
33658,-0.292041,-0.754524,-0.815072,-1.089425,0.764044,1.429890,-0.806142,0.194661,-1.435238,-1.232927,0
673,0.572347,-1.032919,-0.347325,-1.089425,0.764044,0.713608,-0.238920,0.194661,-0.718956,0.882441,0
23488,0.284218,1.472641,1.055915,0.940119,-1.392774,-0.002674,-0.710328,0.194661,-0.718956,0.947197,0
32960,-0.484128,-0.754524,-1.750565,-1.089425,0.764044,-0.718956,0.098347,0.194661,-1.435238,-1.232927,0
6717,1.148607,-0.754524,-1.750565,-0.074653,0.764044,1.429890,0.880194,0.194661,-0.718956,0.882441,0
26315,-0.772257,-0.754524,1.055915,0.940119,1.195407,-0.002674,-0.767816,0.194661,-0.718956,-0.326341,0
39391,1.532779,-1.032919,1.055915,0.940119,0.332680,1.429890,0.470108,0.194661,-1.435238,1.227807,0

In [61]:
x_test

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,33,admin.,university.degree,no,jul,fri,305,999,nonexistent,-42.7,no
22930,45,management,university.degree,no,aug,mon,105,999,nonexistent,-36.1,no
22249,47,blue-collar,basic.6y,yes,aug,thu,43,999,nonexistent,-36.1,no
24987,49,admin.,basic.9y,yes,nov,tue,204,999,nonexistent,-42.0,no
9966,25,self-employed,professional.course,yes,jun,wed,394,999,nonexistent,-41.8,no
35372,54,management,university.degree,no,may,fri,104,999,nonexistent,-46.2,no
20315,31,management,university.degree,no,aug,mon,154,999,nonexistent,-36.1,no
18631,54,blue-collar,basic.9y,yes,jul,thu,28,999,nonexistent,-42.7,no
40238,31,student,university.degree,no,jul,fri,608,6,success,-40.3,yes
14054,41,admin.,university.degree,no,jul,fri,1180,999,nonexistent,-42.7,no
26452,38,self-employed,professional.course,yes,nov,thu,86,999,nonexistent,-42.0,no
9691,40,blue-collar,basic.6y,no,jun,mon,493,999,nonexistent,-41.8,no
12429,30,admin.,university.degree,no,jul,mon,128,999,nonexistent,-42.7,no
28438,57,services,high.school,yes,apr,thu,275,999,failure,-47.1,no
28094,45,blue-collar,basic.9y,yes,apr,fri,582,999,nonexistent,-47.1,no
1386,30,technician,professional.course,no,may,thu,369,999,nonexistent,-36.4,no
30505,43,admin.,university.degree,yes,may,mon,34,999,nonexistent,-46.2,no
17632,58,technician,unknown,yes,jul,mon,341,999,nonexistent,-42.7,no
33953,39,technician,professional.course,no,may,wed,143,999,failure,-46.2,no
1917,32,services,high.school,yes,may,fri,432,999,nonexistent,-36.4,no
2931,36,blue-collar,basic.9y,yes,may,wed,55,999,nonexistent,-36.4,no
19890,51,housemaid,basic.4y,no,aug,fri,253,999,nonexistent,-36.1,no
37906,39,entrepreneur,basic.6y,yes,sep,tue,531,999,nonexistent,-29.8,yes
18058,52,management,university.degree,no,jul,wed,119,999,nonexistent,-42.7,no
24828,56,self-employed,high.school,no,nov,tue,79,999,nonexistent,-42.0,no
2348,48,technician,high.school,no,may,tue,166,999,nonexistent,-36.4,no
11715,29,blue-collar,professional.course,no,jun,fri,86,999,nonexistent,-41.8,no
11757,42,admin.,university.degree,yes,jun,fri,14,999,nonexistent,-41.8,no
4879,36,unknown,basic.6y,yes,may,wed,660,999,nonexistent,-36.4,no
5110,36,blue-collar,high.school,no,may,fri,442,999,nonexistent,-36.4,no
...,...,...,...,...,...,...,...,...,...,...,...
32483,58,management,university.degree,yes,may,fri,685,999,nonexistent,-46.2,yes
13530,36,blue-collar,basic.9y,no,jul,thu,183,999,nonexistent,-42.7,no
7578,36,blue-collar,basic.9y,no,may,fri,522,999,nonexistent,-36.4,no
1944,50,technician,university.degree,yes,may,fri,162,999,nonexistent,-36.4,no
35652,39,technician,professional.course,yes,may,mon,525,999,nonexistent,-46.2,yes
22628,42,entrepreneur,high.school,no,aug,fri,277,999,nonexistent,-36.1,no
13705,31,admin.,high.school,yes,jul,thu,627,999,nonexistent,-42.7,yes
22696,54,blue-collar,basic.9y,no,aug,fri,207,999,nonexistent,-36.1,no
22531,38,technician,university.degree,yes,aug,fri,131,999,nonexistent,-36.1,no
40528,30,admin.,professional.course,no,aug,mon,10,999,nonexistent,-38.3,no
15417,56,admin.,university.degree,yes,jul,fri,359,999,nonexistent,-42.7,no
14659,43,blue-collar,basic.6y,no,jul,tue,197,999,nonexistent,-42.7,no
25544,33,entrepreneur,high.school,yes,nov,wed,902,999,nonexistent,-42.0,no
8844,46,admin.,basic.9y,yes,jun,thu,70,999,nonexistent,-41.8,no
9881,34,services,high.school,unknown,jun,wed,187,999,nonexistent,-41.8,no
3725,48,admin.,university.degree,no,may,fri,121,999,nonexistent,-36.4,no
34808,21,student,high.school,yes,may,thu,142,999,failure,-46.2,no
12302,45,management,university.degree,no,jul,fri,31,999,nonexistent,-42.7,no
38020,78,unknown,unknown,yes,sep,wed,234,999,failure,-29.8,yes
33068,43,self-employed,university.degree,yes,may,mon,445,999,nonexistent,-46.2,no
40342,31,technician,unknown,yes,aug,mon,428,9,success,-38.3,yes
29798,39,admin.,high.school,yes,apr,mon,55,999,nonexistent,-47.1,no
28946,42,blue-collar,basic.4y,yes,apr,fri,486,999,failure,-47.1,no
16354,34,blue-collar,basic.9y,yes,jul,wed,487,999,nonexistent,-42.7,no
25564,36,blue-collar,basic.6y,yes,nov,wed,169,999,nonexistent,-42.0,no
35175,57,blue-collar,basic.9y,no,may,fri,199,999,nonexistent,-46.2,no
23899,39,technician,university.degree,no,aug,fri,1028,999,nonexistent,-36.1,no
30104,62,self-employed,university.degree,no,apr,mon,66,999,nonexistent,-47.1,no
3991,49,blue-collar,basic.4y,yes,may,mon,84,999,nonexistent,-36.4,no
13582,26,technician,professional.course,no,jul,thu,439,999,nonexistent,-42.7,no

In [62]:
#checking the data
x_train_original=x_train
x_train=x_train.values
y_train=y_train.values

In [63]:
#applying the model
logistic_regression=LogisticRegression()

In [64]:
#fitting the data
logistic_regression.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [65]:
x_test

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,33,admin.,university.degree,no,jul,fri,305,999,nonexistent,-42.7,no
22930,45,management,university.degree,no,aug,mon,105,999,nonexistent,-36.1,no
22249,47,blue-collar,basic.6y,yes,aug,thu,43,999,nonexistent,-36.1,no
24987,49,admin.,basic.9y,yes,nov,tue,204,999,nonexistent,-42.0,no
9966,25,self-employed,professional.course,yes,jun,wed,394,999,nonexistent,-41.8,no
35372,54,management,university.degree,no,may,fri,104,999,nonexistent,-46.2,no
20315,31,management,university.degree,no,aug,mon,154,999,nonexistent,-36.1,no
18631,54,blue-collar,basic.9y,yes,jul,thu,28,999,nonexistent,-42.7,no
40238,31,student,university.degree,no,jul,fri,608,6,success,-40.3,yes
14054,41,admin.,university.degree,no,jul,fri,1180,999,nonexistent,-42.7,no
26452,38,self-employed,professional.course,yes,nov,thu,86,999,nonexistent,-42.0,no
9691,40,blue-collar,basic.6y,no,jun,mon,493,999,nonexistent,-41.8,no
12429,30,admin.,university.degree,no,jul,mon,128,999,nonexistent,-42.7,no
28438,57,services,high.school,yes,apr,thu,275,999,failure,-47.1,no
28094,45,blue-collar,basic.9y,yes,apr,fri,582,999,nonexistent,-47.1,no
1386,30,technician,professional.course,no,may,thu,369,999,nonexistent,-36.4,no
30505,43,admin.,university.degree,yes,may,mon,34,999,nonexistent,-46.2,no
17632,58,technician,unknown,yes,jul,mon,341,999,nonexistent,-42.7,no
33953,39,technician,professional.course,no,may,wed,143,999,failure,-46.2,no
1917,32,services,high.school,yes,may,fri,432,999,nonexistent,-36.4,no
2931,36,blue-collar,basic.9y,yes,may,wed,55,999,nonexistent,-36.4,no
19890,51,housemaid,basic.4y,no,aug,fri,253,999,nonexistent,-36.1,no
37906,39,entrepreneur,basic.6y,yes,sep,tue,531,999,nonexistent,-29.8,yes
18058,52,management,university.degree,no,jul,wed,119,999,nonexistent,-42.7,no
24828,56,self-employed,high.school,no,nov,tue,79,999,nonexistent,-42.0,no
2348,48,technician,high.school,no,may,tue,166,999,nonexistent,-36.4,no
11715,29,blue-collar,professional.course,no,jun,fri,86,999,nonexistent,-41.8,no
11757,42,admin.,university.degree,yes,jun,fri,14,999,nonexistent,-41.8,no
4879,36,unknown,basic.6y,yes,may,wed,660,999,nonexistent,-36.4,no
5110,36,blue-collar,high.school,no,may,fri,442,999,nonexistent,-36.4,no
...,...,...,...,...,...,...,...,...,...,...,...
32483,58,management,university.degree,yes,may,fri,685,999,nonexistent,-46.2,yes
13530,36,blue-collar,basic.9y,no,jul,thu,183,999,nonexistent,-42.7,no
7578,36,blue-collar,basic.9y,no,may,fri,522,999,nonexistent,-36.4,no
1944,50,technician,university.degree,yes,may,fri,162,999,nonexistent,-36.4,no
35652,39,technician,professional.course,yes,may,mon,525,999,nonexistent,-46.2,yes
22628,42,entrepreneur,high.school,no,aug,fri,277,999,nonexistent,-36.1,no
13705,31,admin.,high.school,yes,jul,thu,627,999,nonexistent,-42.7,yes
22696,54,blue-collar,basic.9y,no,aug,fri,207,999,nonexistent,-36.1,no
22531,38,technician,university.degree,yes,aug,fri,131,999,nonexistent,-36.1,no
40528,30,admin.,professional.course,no,aug,mon,10,999,nonexistent,-38.3,no
15417,56,admin.,university.degree,yes,jul,fri,359,999,nonexistent,-42.7,no
14659,43,blue-collar,basic.6y,no,jul,tue,197,999,nonexistent,-42.7,no
25544,33,entrepreneur,high.school,yes,nov,wed,902,999,nonexistent,-42.0,no
8844,46,admin.,basic.9y,yes,jun,thu,70,999,nonexistent,-41.8,no
9881,34,services,high.school,unknown,jun,wed,187,999,nonexistent,-41.8,no
3725,48,admin.,university.degree,no,may,fri,121,999,nonexistent,-36.4,no
34808,21,student,high.school,yes,may,thu,142,999,failure,-46.2,no
12302,45,management,university.degree,no,jul,fri,31,999,nonexistent,-42.7,no
38020,78,unknown,unknown,yes,sep,wed,234,999,failure,-29.8,yes
33068,43,self-employed,university.degree,yes,may,mon,445,999,nonexistent,-46.2,no
40342,31,technician,unknown,yes,aug,mon,428,9,success,-38.3,yes
29798,39,admin.,high.school,yes,apr,mon,55,999,nonexistent,-47.1,no
28946,42,blue-collar,basic.4y,yes,apr,fri,486,999,failure,-47.1,no
16354,34,blue-collar,basic.9y,yes,jul,wed,487,999,nonexistent,-42.7,no
25564,36,blue-collar,basic.6y,yes,nov,wed,169,999,nonexistent,-42.0,no
35175,57,blue-collar,basic.9y,no,may,fri,199,999,nonexistent,-46.2,no
23899,39,technician,university.degree,no,aug,fri,1028,999,nonexistent,-36.1,no
30104,62,self-employed,university.degree,no,apr,mon,66,999,nonexistent,-47.1,no
3991,49,blue-collar,basic.4y,yes,may,mon,84,999,nonexistent,-36.4,no
13582,26,technician,professional.course,no,jul,thu,439,999,nonexistent,-42.7,no

In [66]:
age_scaler=StandardScaler()
age_scaler.fit(pandas.DataFrame(x_test['age']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [67]:
x_test[['age']]=age_scaler.transform(x_test[['age']])

In [68]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,admin.,university.degree,no,jul,fri,305,999,nonexistent,-42.7,no
22930,0.482208,management,university.degree,no,aug,mon,105,999,nonexistent,-36.1,no
22249,0.673461,blue-collar,basic.6y,yes,aug,thu,43,999,nonexistent,-36.1,no
24987,0.864714,admin.,basic.9y,yes,nov,tue,204,999,nonexistent,-42.0,no
9966,-1.430325,self-employed,professional.course,yes,jun,wed,394,999,nonexistent,-41.8,no

In [69]:
duration_scaler=StandardScaler()
duration_scaler.fit(pandas.DataFrame(x_test['duration']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [70]:
x_test[['duration']]=duration_scaler.transform(x_test[['duration']])

In [71]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,admin.,university.degree,no,jul,fri,0.201671,999,nonexistent,-42.7,no
22930,0.482208,management,university.degree,no,aug,mon,-0.590261,999,nonexistent,-36.1,no
22249,0.673461,blue-collar,basic.6y,yes,aug,thu,-0.835759,999,nonexistent,-36.1,no
24987,0.864714,admin.,basic.9y,yes,nov,tue,-0.198254,999,nonexistent,-42.0,no
9966,-1.430325,self-employed,professional.course,yes,jun,wed,0.554081,999,nonexistent,-41.8,no

In [72]:
pdays_scaler=StandardScaler()
pdays_scaler.fit(pandas.DataFrame(x_test['pdays']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [73]:
x_test[['pdays']]=pdays_scaler.transform(x_test[['pdays']])

In [74]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,admin.,university.degree,no,jul,fri,0.201671,0.198402,nonexistent,-42.7,no
22930,0.482208,management,university.degree,no,aug,mon,-0.590261,0.198402,nonexistent,-36.1,no
22249,0.673461,blue-collar,basic.6y,yes,aug,thu,-0.835759,0.198402,nonexistent,-36.1,no
24987,0.864714,admin.,basic.9y,yes,nov,tue,-0.198254,0.198402,nonexistent,-42.0,no
9966,-1.430325,self-employed,professional.course,yes,jun,wed,0.554081,0.198402,nonexistent,-41.8,no

In [75]:
cons_conf_idx_scaler=StandardScaler()
cons_conf_idx_scaler.fit(pandas.DataFrame(x_test['cons.conf.idx']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [76]:
x_test[['cons.conf.idx']]=cons_conf_idx_scaler.transform(x_test[['cons.conf.idx']])

In [77]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,admin.,university.degree,no,jul,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,management,university.degree,no,aug,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,blue-collar,basic.6y,yes,aug,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,admin.,basic.9y,yes,nov,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,self-employed,professional.course,yes,jun,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [78]:
job_encoder=preprocessing.LabelEncoder()
job_encoder.fit(pandas.DataFrame(x_test['job']))

LabelEncoder()

In [79]:
x_test[['job']]=job_encoder.transform(x_test[['job']])

In [80]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,0,university.degree,no,jul,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,4,university.degree,no,aug,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,1,basic.6y,yes,aug,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,0,basic.9y,yes,nov,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,6,professional.course,yes,jun,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [81]:
job_scaler=StandardScaler()
job_scaler.fit(pandas.DataFrame(x_test['job']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [82]:
x_test[['job']]=job_scaler.transform(x_test[['job']])

In [83]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,university.degree,no,jul,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,0.060527,university.degree,no,aug,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,-0.771893,basic.6y,yes,aug,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,-1.049366,basic.9y,yes,nov,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,0.615473,professional.course,yes,jun,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [84]:
education_encoder=preprocessing.LabelEncoder()
education_encoder.fit(pandas.DataFrame(x_test['education']))

LabelEncoder()

In [85]:
x_test[['education']]=education_encoder.transform(x_test[['education']])

In [86]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,6,no,jul,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,0.060527,6,no,aug,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,-0.771893,1,yes,aug,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,-1.049366,2,yes,nov,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,0.615473,5,yes,jun,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [87]:
education_scaler=StandardScaler()
education_scaler.fit(pandas.DataFrame(x_test['education']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [88]:
x_test[['education']]=education_scaler.transform(x_test[['education']])

In [89]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,no,jul,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,0.060527,1.048693,no,aug,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,-0.771893,-1.298133,yes,aug,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,-1.049366,-0.828767,yes,nov,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,0.615473,0.579328,yes,jun,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [90]:
housing_encoder=preprocessing.LabelEncoder()
housing_encoder.fit(pandas.DataFrame(x_test['housing']))

LabelEncoder()

In [91]:
x_test[['housing']]=housing_encoder.transform(x_test[['housing']])

In [92]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,0,jul,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,0.060527,1.048693,0,aug,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,-0.771893,-1.298133,2,aug,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,-1.049366,-0.828767,2,nov,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,0.615473,0.579328,2,jun,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [93]:
housing_scaler=StandardScaler()
housing_scaler.fit(pandas.DataFrame(x_test['housing']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [94]:
x_test[['housing']]=housing_scaler.transform(x_test[['housing']])

In [95]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,-1.080870,jul,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,0.060527,1.048693,-1.080870,aug,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,-0.771893,-1.298133,0.950199,aug,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,-1.049366,-0.828767,0.950199,nov,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,0.615473,0.579328,0.950199,jun,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [96]:
month_encoder=preprocessing.LabelEncoder()
month_encoder.fit(pandas.DataFrame(x_test['month']))

LabelEncoder()

In [97]:
x_test[['month']]=month_encoder.transform(x_test[['month']])

In [98]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,-1.080870,3,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,0.060527,1.048693,-1.080870,1,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,-0.771893,-1.298133,0.950199,1,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,-1.049366,-0.828767,0.950199,7,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,0.615473,0.579328,0.950199,4,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [99]:
month_scaler=StandardScaler()
month_scaler.fit(pandas.DataFrame(x_test['month']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [100]:
x_test[['month']]=month_scaler.transform(x_test[['month']])

In [101]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,-1.080870,-0.532548,fri,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,0.060527,1.048693,-1.080870,-1.392012,mon,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,-0.771893,-1.298133,0.950199,-1.392012,thu,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,-1.049366,-0.828767,0.950199,1.186379,tue,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,0.615473,0.579328,0.950199,-0.102816,wed,0.554081,0.198402,nonexistent,-0.268934,no

In [102]:
day_encoder=preprocessing.LabelEncoder()
day_encoder.fit(pandas.DataFrame(x_test['day_of_week']))

LabelEncoder()

In [103]:
x_test[['day_of_week']]=day_encoder.transform(x_test[['day_of_week']])

In [104]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,-1.080870,-0.532548,0,0.201671,0.198402,nonexistent,-0.464198,no
22930,0.482208,0.060527,1.048693,-1.080870,-1.392012,1,-0.590261,0.198402,nonexistent,0.967734,no
22249,0.673461,-0.771893,-1.298133,0.950199,-1.392012,2,-0.835759,0.198402,nonexistent,0.967734,no
24987,0.864714,-1.049366,-0.828767,0.950199,1.186379,3,-0.198254,0.198402,nonexistent,-0.312326,no
9966,-1.430325,0.615473,0.579328,0.950199,-0.102816,4,0.554081,0.198402,nonexistent,-0.268934,no

In [105]:
branchwise_encoder=preprocessing.LabelEncoder()
branchwise_encoder.fit(pandas.DataFrame(x_test['branchwise']))

LabelEncoder()

In [106]:
x_test[['branchwise']]=branchwise_encoder.transform(x_test[['branchwise']])

In [107]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,-1.080870,-0.532548,0,0.201671,0.198402,1,-0.464198,no
22930,0.482208,0.060527,1.048693,-1.080870,-1.392012,1,-0.590261,0.198402,1,0.967734,no
22249,0.673461,-0.771893,-1.298133,0.950199,-1.392012,2,-0.835759,0.198402,1,0.967734,no
24987,0.864714,-1.049366,-0.828767,0.950199,1.186379,3,-0.198254,0.198402,1,-0.312326,no
9966,-1.430325,0.615473,0.579328,0.950199,-0.102816,4,0.554081,0.198402,1,-0.268934,no

In [108]:
branchwise_scaler=StandardScaler()
branchwise_scaler.fit(pandas.DataFrame(x_test['branchwise']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [109]:
x_test[['branchwise']]=branchwise_scaler.transform(x_test[['branchwise']])

In [110]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,-1.080870,-0.532548,0,0.201671,0.198402,0.195643,-0.464198,no
22930,0.482208,0.060527,1.048693,-1.080870,-1.392012,1,-0.590261,0.198402,0.195643,0.967734,no
22249,0.673461,-0.771893,-1.298133,0.950199,-1.392012,2,-0.835759,0.198402,0.195643,0.967734,no
24987,0.864714,-1.049366,-0.828767,0.950199,1.186379,3,-0.198254,0.198402,0.195643,-0.312326,no
9966,-1.430325,0.615473,0.579328,0.950199,-0.102816,4,0.554081,0.198402,0.195643,-0.268934,no

In [111]:
day_scaler=StandardScaler()
day_scaler.fit(pandas.DataFrame(x_test['day_of_week']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [112]:
x_test[['day_of_week']]=day_scaler.transform(x_test[['day_of_week']])

In [113]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,-1.080870,-0.532548,-1.430930,0.201671,0.198402,0.195643,-0.464198,no
22930,0.482208,0.060527,1.048693,-1.080870,-1.392012,-0.718363,-0.590261,0.198402,0.195643,0.967734,no
22249,0.673461,-0.771893,-1.298133,0.950199,-1.392012,-0.005795,-0.835759,0.198402,0.195643,0.967734,no
24987,0.864714,-1.049366,-0.828767,0.950199,1.186379,0.706772,-0.198254,0.198402,0.195643,-0.312326,no
9966,-1.430325,0.615473,0.579328,0.950199,-0.102816,1.419339,0.554081,0.198402,0.195643,-0.268934,no

In [114]:
x_test['y']=x_test['y'].map({'no':0,'yes':1})

In [115]:
x_test.head()

,age,job,education,housing,month,day_of_week,duration,pdays,branchwise,cons.conf.idx,y
15570,-0.665312,-1.049366,1.048693,-1.080870,-0.532548,-1.430930,0.201671,0.198402,0.195643,-0.464198,0
22930,0.482208,0.060527,1.048693,-1.080870,-1.392012,-0.718363,-0.590261,0.198402,0.195643,0.967734,0
22249,0.673461,-0.771893,-1.298133,0.950199,-1.392012,-0.005795,-0.835759,0.198402,0.195643,0.967734,0
24987,0.864714,-1.049366,-0.828767,0.950199,1.186379,0.706772,-0.198254,0.198402,0.195643,-0.312326,0
9966,-1.430325,0.615473,0.579328,0.950199,-0.102816,1.419339,0.554081,0.198402,0.195643,-0.268934,0

In [116]:
#predicting the model
y_pred=logistic_regression.predict(x_test)

In [117]:
#printing the accuracy
print(accuracy_score(y_test,y_pred))

0.820830298616169